{% extends 'base.html' %} 
{% load static %}
{% block content %}
    <!-- slider section -->
    <section class="slider_section long_section mx-auto">
      <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-5">
                  <div class="detail-box">
                    <h1>
                      For All Advertisments <br>
                      That you search for it
                    </h1>
                    <p>
                      You can view all the advertisments, or you can add your own advertisment
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'contact:contact' %}" class="btn1">
                        Contact Us
                      </a>
                      <a href="{% url 'about:about' %}" class="btn2">
                        About Us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
        
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- furniture section -->

  <section class="furniture_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Latest Advertisments
        </h2>
        <p>
          <a href="{% url 'ads:all_ads'%}">
            View More
          </a>        
        </p>
      </div>
      <div class="row">
        {% for all_ads in all_ads %}
        <div class="col-md-6 col-lg-4"> 
          <div class="box">
            <div class="img-box">
              {% if all_ads.image.url != null %}
              
                <img src="{{all_ads.image.url}}">
              
              {% endif %}
            </div>
            <div class="detail-box">
              <h5>
                {{all_ads.title}}
              </h5>
              <div class="price_box">
                <h6 class="price_heading">
                  <span>SR</span> {{all_ads.price}}
                </h6>
                <a href="{% url 'ads:ads_details' ads_url=all_ads.title_url %}">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </section>

  <!-- end furniture section -->


  <!-- about section -->

  <section class="about_section layout_padding long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              We create this website to help to find/add the advertisments.
            </p>
            <a href="{% url 'about:about' %}">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  
  <!-- contact section -->
  <section class="contact_section  long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Contact Us
              </h2>
            </div>
            <form action="">
              <div>
                <input type="text" placeholder="Your Name" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="btn_box">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/contact1.png' %}" alt=""style="max-width: 100%;">
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
  {% endblock content %}
