{% extends 'base.html' %} 
{% load static %}
{% block content %}
  <!-- contact section -->
  <section class="contact_section  long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Contact Us
              </h2>
            </div>
            <p>Logged out!</p>
            <a href="{% url 'login'%}">Click here to login again.</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="img-box">
                <img src="{% static 'images/contact1.png' %}" alt=""style="max-width: 100%;">
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  {% endblock %}
