
{% extends 'base.html' %} 
{% load static %}
{% block content %}

  <!-- contact section -->
  <section class="contact_section  long_section ">
    <div class="container mx-auto">
      <div class="row mx-auto">
        <div class="col-md-6 mx-auto">
          <div class="form_container mx-auto">
            <div class="heading_container mx-auto">
              <h2 class="mx-auto">
                Login
              </h2>
            </div>
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
              {% endif %}

              {% if next %}
                {% if user.is_authenticated %}
                  <p>Your account doesn't have access to this page. To proceed,
                  please login with an account that has access.</p>
                {% else %}
                  <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div>
                
                {{ form}}
              </div>
              
              <div class="btn_box col-md-6 mx-auto">
                <button type="submit" >
                  Login
                </button>
              </div>
              
            </form>
            <br>
            {# Assumes you setup the password_reset view in your URLconf #}
              <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
              <p><a href="{% url 'accounts:signup' %}">Don't Have An Account?</a></p>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- end contact section -->

  {% endblock %}











{% comment %} {% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <button type=submit >Login
    </button>
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  <p><a href="{% url 'accounts:signup' %}">Don't Have An Account?</a></p>

{% endblock %} {% endcomment %}