
{% extends 'base.html' %} 
{% load static %}
{% block content %}

  <!-- contact section -->
  <section class="contact_section  long_section ">
    <div class="container mx-auto">
      <div class="row mx-auto">
        <div class="col-md-6 mx-auto">
          <div class="form_container mx-auto">
            <div class="heading_container mx-auto">
              <h2 class="mx-auto">
                Lost Password Confirmation
              </h2>
              
            </div>
            {% if validlink %}
            <p>Please enter (and confirm) your new password.</p>
            <form action="" method="post">
                {% csrf_token %}
                <div>
                  {{ form.as_p}}
                </div>
                
                <div class="btn_box col-md-6 mx-auto">
                  <button type="submit" >
                    Change my password
                  </button>
                </div>
                
            </form>
            {% else %}
                <h1>Password reset failed</h1>
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            {% endif %}
          </div>
        </div>
        
      </div>
    </div>
  </section>

  {% endblock %}



{% comment %} {% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %} {% endcomment %}