
{% extends 'base.html' %} 
{% load static %}
{% block content %}

  <!-- contact section -->
  <section class="contact_section  long_section ">
    <div class="container mx-auto">
      <div class="row mx-auto">
        <div class="col-md-6 mx-auto">
          <div class="form_container mx-auto">
            <div class="heading_container mx-auto">
              <h2 class="mx-auto">
                Reset Password
              </h2>
            </div>
           
            <form action="" method="post">
              {% csrf_token %}
              {% if form.email.errors %}
                {{ form.email.errors }}
              {% endif %}
              <div>
                
                {{ form.as_p}}
              </div>
              
              <div class="btn_box col-md-6 mx-auto">
                <button type="submit" >
                  Reset password
                </button>
              </div>
              
            </form>
            
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- end contact section -->

  {% endblock %}







{% comment %} {% extends "base.html" %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
{% endblock %} {% endcomment %}