
{% extends 'base.html' %} 
{% load static %}
{% block content %}

  <!-- contact section -->
  <section class="contact_section  long_section ">
    <div class="container mx-auto">
      <div class="row mx-auto">
        <div class="col-md-6 mx-auto">
          <div class="form_container mx-auto">
            <div class="heading_container mx-auto">
              <h2 class="mx-auto">
                Lost Password Confirmation
              </h2>
            </div>
           
           
              <div>
                <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
              </div>
            
            
          </div>
        </div>
        
      </div>
    </div>
  </section>

  {% endblock %}

{% comment %} {% extends "base.html" %}

{% block content %}
  <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
{% endblock %} {% endcomment %}