
{% extends 'base.html' %} 
{% load static %}
{% block content %}

  <!-- contact section -->
  <section class="contact_section  long_section ">
    <div class="container mx-auto">
      <div class="row mx-auto">
        <div class="col-md-6 mx-auto">
          <div class="form_container mx-auto">
            <div class="heading_container mx-auto">
              <h2 class="mx-auto">
                Signup
              </h2>
            </div>
            <form method="post" >
              {% csrf_token %}
              <div>
                
                {{ form.as_p}}
              </div>
              
              <div class="btn_box col-md-6 mx-auto">
                <button type="submit" >
                  Signup
                </button>
              </div>
              
            </form>
            <br>
            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'login' %}">Already Have An Account?</a></p>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- end contact section -->

  {% endblock %}













{% comment %} {% extends "base.html" %}

{% block content %}


<div class="contact-form-box wow fadeInLeft" data-wow-delay=".4s">
  <div class="contact-form-title">
    <h3>Signup</h3>
  </div>
  <form method="post">
    {% csrf_token %}
    {{form}}
    <button type=submit >Signup
    </button>
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'login' %}">Already Have An Account?</a></p>
</div>
{% endblock %} {% endcomment %}