
{% extends 'base.html' %} 
{% load static %}
{% block content %}
  <!-- contact section -->
  <section class="contact_section  long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Adding New Ads
              </h2>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% comment %} {{form}} {% endcomment %}
              <div>
                {{ form.title.label_tag }}
                {{ form.title }}
              </div>
              <div>
                {{ form.location.label_tag }}
                {{ form.location }}
              </div>
              <div>
                {{ form.price.label_tag }}
                {{ form.price }}
              </div>
              <div>
                {{ form.category.label_tag }}
                {{ form.category }}
              </div>
              <div>
                {{ form.description.label_tag }}
                <br>
                {{ form.description }}
              </div>
              <div>
                {{ form.image.label_tag }}
                {{ form.image }}
              </div>
              <div class="btn_box"><br>
                <button type="submit">
                  Add
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="img-box">
                <img src="{% static 'images/addingAds.jpg' %}" alt=""style="max-width: 100%;">
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  {% endblock %}
