{% extends 'base.html' %} 
{% load static %}
{% block content %}
  
  <!-- furniture section -->

  <section class="furniture_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Advertisments
        </h2>
        
      </div>
      <div class="row">
        {% for all_ads in all_ads %}
        <div class="col-md-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="images/f1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                {{all_ads.title}}
              </h5>
              <div class="price_box">
                <h6 class="price_heading">
                  <span>SR</span> {{all_ads.price}}
                </h6>
                <a href="{% url 'ads:ads_details' ads_url=all_ads.title_url %}">
                  Detail
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
        
      </div>
    </div>
  </section>

  <!-- end furniture section -->
  {% endblock content %}
