{% extends 'base.html' %} 
{% load static %}
{% block content %}
  <!-- about section -->

  <section class="about_section layout_padding long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              We create this website to help to find/add the advertisments.
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
  {% endblock %}
